<div class="">
  <div class="d-flex flex-row-reverse bd-highlight">
    <div class="p-1 bd-highlight">
      <app-component-btnupload (alertaJson)="alertaJson()"></app-component-btnupload>
    </div>
    <div class="p-2 bd-highlight">
      <p-button label="Crear" [raised]="true" severity="warn" [rounded]="true" severity="info" size="small" (click)="abrirModal({'title': 'Crear contacto', 'componentePrecargado': 'FormcontactoComponent', buttonSave: true})"/>
    </div>
  </div>  
  <app-global-primedialog (alertaJson)="alertaJson()"></app-global-primedialog>
  <app-component-table (abrirModal)="abrirModal($event)"></app-component-table>
</div>