<div class="">
  <div class="col-xl-12 col-sm-12 row">
    <div class="col-xl col-sm-12">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, reprehenderit accusamus vero eveniet commodi minus doloribus animi quisquam explicabo soluta exercitationem aperiam eaque corrupti iure dolores ut at saepe hic.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, reprehenderit accusamus vero eveniet commodi minus doloribus animi quisquam explicabo soluta exercitationem aperiam eaque corrupti iure dolores ut at saepe hic.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, reprehenderit accusamus vero eveniet commodi minus doloribus animi quisquam explicabo soluta exercitationem aperiam eaque corrupti iure dolores ut at saepe hic.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, reprehenderit accusamus vero eveniet commodi minus doloribus animi quisquam explicabo soluta exercitationem aperiam eaque corrupti iure dolores ut at saepe hic.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, reprehenderit accusamus vero eveniet commodi minus doloribus animi quisquam explicabo soluta exercitationem aperiam eaque corrupti iure dolores ut at saepe hic.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, reprehenderit accusamus vero eveniet commodi minus doloribus animi quisquam explicabo soluta exercitationem aperiam eaque corrupti iure dolores ut at saepe hic.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, reprehenderit accusamus vero eveniet commodi minus doloribus animi quisquam explicabo soluta exercitationem aperiam eaque corrupti iure dolores ut at saepe hic.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, reprehenderit accusamus vero eveniet commodi minus doloribus animi quisquam explicabo soluta exercitationem aperiam eaque corrupti iure dolores ut at saepe hic.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, reprehenderit accusamus vero eveniet commodi minus doloribus animi quisquam explicabo soluta exercitationem aperiam eaque corrupti iure dolores ut at saepe hic.
      <div class="col-sm-12 row p-0">
        <div class="col-sm-12">
          <button class="btn btn-sm btn-primary btnAction d-none" (click)="crearContacto()">
            <!-- {{ 'pages-usuarios.Buttons.createUser'}} -->
              Crear
          </button>
        </div>
      </div>
    </div>
  </div>
</div>