<div class="">
  <p-inputgroup>
    <p-inputgroup-addon>
      <i class="pi pi-user"></i>
    </p-inputgroup-addon>
    <input [(ngModel)]="model.name" pInputText placeholder="Nombres" />
  </p-inputgroup>

  <p-inputgroup>
    <p-inputgroup-addon>
      <i class="pi pi-user"></i>
    </p-inputgroup-addon>
    <input [(ngModel)]="model.lastname" pInputText placeholder="Apellidos" />
  </p-inputgroup>

  <p-inputgroup>
    <p-inputgroup-addon>
      <i class="pi pi-at"></i>
    </p-inputgroup-addon>
    <input [(ngModel)]="model.email" pInputText placeholder="Correo" />
  </p-inputgroup>

  <input type="date" class="form-control" [(ngModel)]="model.birthdate">

  <select class="form-control" [(ngModel)]="model.sexo">
    <option [ngValue]="null" disabled>-- Selecciona una opción --</option>
    @for (sexo of sexo; track sexo.value) {
      <option [ngValue]="sexo">{{ sexo.name }}</option>
    }
  </select>

  <div class="text-center mt-4">
    @if(buttonSave){
      <p-button icon="pi pi-plus" [rounded]="true" severity="info" (click)="agregarPhone()" label="Agregar" />
    }
  </div>
  <p-table [value]="model.phone" stripedRows [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #header>
      <tr>
        <th class="text-center">
          Telefonos
        </th>
        @if(buttonSave){
        <th class="text-center">
          Eliminar
        </th>
        }
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-phoneNumber let-rowIndex="rowIndex">
      <tr>
        <td class="text-center">{{ phoneNumber }}</td>
        @if(buttonSave){
        <td class="text-center">
          <p-button icon="pi pi-trash" [rounded]="true" severity="danger" (click)="removerPhone(rowIndex)" />
        </td>
        }
      </tr>
    </ng-template>
  </p-table>
</div>