<div class="">
  <p-inputgroup>
    <p-inputgroup-addon>
      <i class="pi pi-user"></i>
    </p-inputgroup-addon>
    <input [(ngModel)]="model.name" pInputText placeholder="Nombres" />
  </p-inputgroup>

  <p-inputgroup>
    <p-inputgroup-addon>
      <i class="pi pi-user"></i>
    </p-inputgroup-addon>
    <input [(ngModel)]="model.lastname" pInputText placeholder="Apellidos" />
  </p-inputgroup>

  <p-inputgroup>
    <p-inputgroup-addon>
      <i class="pi pi-user"></i>
    </p-inputgroup-addon>
    <input [(ngModel)]="model.email" pInputText placeholder="Correo" />
  </p-inputgroup>

  <input type="date" class="form-control" [(ngModel)]="model.birthdate">

  <select class="form-control" [(ngModel)]="model.sexo">
    <option [ngValue]="null" disabled>-- Selecciona una opción --</option>
    @for (sexo of sexo; track sexo.value) {
      <option [ngValue]="sexo">{{ sexo.name }}</option>
    }
  </select>
</div>