<div class="">
  <p-table [value]="contactos" stripedRows [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #header>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Correo</th>
        <th>Sexo</th>
        <th>Nacimiento</th>
        <th>Opciones</th> 
      </tr>
    </ng-template>
    <ng-template #body let-contactos let-rowIndex="rowIndex">
      <tr>
        <td>{{ contactos.nombres }}</td>
        <td>{{ contactos.apellidos }}</td>
        <td>{{ contactos.correo }}</td>
        <td>{{ contactos.sexo }}</td>
        <td>{{ contactos.nacimiento }}</td>
        <td>
          <p-button label="Actualizar" [raised]="true" severity="warn" [rounded]="true" severity="warn" size="small" (click)="editarContacto()" />
          <p-button label="Eliminar" [raised]="true" severity="danger" [rounded]="true" severity="danger" size="small" (click)="eliminarContacto(rowIndex)" />
        </td>
      </tr>
    </ng-template>
  </p-table>

  <hr>
  <p-button label="Limpiar" size="small" (click)="limpiarStorage()" />
</div>
