<div class="">
  <p-table [value]="contactos" stripedRows [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #header>
      <tr>
        <th class="text-center">Nombre</th>
        <th class="text-center">Apellido</th>
        <th class="text-center">Correo</th>
        <th class="text-center">Sexo</th>
        <th class="text-center">Nacimiento</th>
        <th class="text-center">Opciones</th> 
      </tr>
    </ng-template>
    <ng-template #body let-contactos let-rowIndex="rowIndex">
      <tr>
        <td class="text-center">{{ contactos.nombres }}</td>
        <td class="text-center">{{ contactos.apellidos }}</td>
        <td class="text-center">{{ contactos.correo }}</td>
        <td class="text-center">{{ contactos.sexo }}</td>
        <td class="text-center">{{ contactos.nacimiento }}</td>
        <td>
          <div class="col-sm-12 row">
            <div class="col">
              <p-button label="Ver" [raised]="true" severity="warn" [rounded]="true" severity="help" size="small" (click)="verContacto(rowIndex)" />
            </div>
            <div class="col">
              <p-button label="Actualizar" [raised]="true" severity="warn" [rounded]="true" severity="warn" size="small" (click)="editarContacto(rowIndex)" />
            </div>
            <div class="col">
              <p-button label="Eliminar" [raised]="true" severity="danger" [rounded]="true" severity="danger" size="small" (click)="eliminarContacto(rowIndex)" />
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <hr>
  <p-button label="Limpiar" size="small" (click)="limpiarStorage()" />
</div>
