<p-dialog header="Header" [modal]="true" [(visible)]="visible" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
  <ng-template #header>
    <div class="inline-flex items-center justify-center gap-2">
      <span class="font-bold whitespace-nowrap">{{title}}</span>
    </div>
  </ng-template>

  <div #contenedor></div>

  <ng-template #footer>
    <p-button label="Cerrar" [text]="true" severity="secondary" (click)="visible = false" />
    @if(buttonSave){
      <p-button label="Guardar" [outlined]="true" severity="secondary" (click)="visible = false" (click)="accionGuardar()" />
    }
  </ng-template>
</p-dialog>
